<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>图书列表</title>
  <script src="../vue.js"></script>
  <script src="../axios.mim.js"></script>
  <style>
    .grid {
      margin: auto;
      width: 530px;
      text-align: center;
    }
    .grid table {
      border-top: 1px solid #C2D89A;
      width: 100%;
      border-collapse: collapse;
    }
    .grid th,td {
      padding: 10;
      border: 1px dashed #F3DCAB;
      height: 35px;
      line-height: 35px;
    }
    .grid th {
      background-color: #F3DCAB;
    }
    .grid .book {
      padding-bottom: 10px;
      padding-top: 5px;
      background-color: #F3DCAB;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="grid">
      <div>
        <h1>图书管理</h1>
        <div class="book">
          <div>
            <label for="id">
              编号：
            </label>
            <input type="text" id="id" v-model="bookid" v-bind:disabled="status">
            <label for="name">
              名称：
            </label>
            <input type="text" id="name"  v-model="bookname">
            <button v-on:click="btn" >提交</button>
          </div>
        </div>
      </div>
      <div>
      <table>
        <thead>
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr  v-for="(item,k) in list" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.time}}</td>
            <td>
              <a href="" @click.prevent="onsubmit(item,k)">修改</a>
              <span>|</span>
              <a  href="" @click.prevent="hello(k)">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</body>
</html>
<script>
  var app = new Vue({
    el:'#app',
    data:{
      status:false,
      bookid:null,
      bookname:null,
      list:[],
    },
    methods:{
     hello(i){
        this.list.splice(i,1)
     },
     btn(k) {
       if (this.status) {
         let id = this.bookid;
         let name = this.bookname
         this.list.forEach(function (i, v) {
           if (i.id == id) {
             console.log(i)
             i.name = name
           }
         })
         this.bookid = null
         this.bookname = null
         this.status = false
       } else{
         let id = this.bookid
         this.list.forEach(function (i, v) {
           if (i.id == id){
               alert("编号已存在")
               return false;
           }
         })
           if(this.bookname == null){
             alert("书名不能为空")
             return false;
           }
         var aData = new Date();
         this.value =
                 aData.getFullYear() + "-" + (aData.getMonth() + 1) + "-" + aData.getDate();
         console.log(this.value) //2019-8-20
         let _obj = {
           id: this.bookid,
           name: this.bookname,
           time: this.value
         }
         this.list.push(_obj)
         this.bookid="";
         this.bookname="";
       }
     },
      onsubmit(item,k){
        this.bookname = this.list[k].name
        this.bookid = this.list[k].id
        this.status = true
      }
    },
    created(){
      let _this = this
      let api_url = " http://vue.api.comcto.com/api/books.php\n"
      axios.get(api_url).then(function (d) {
        console.log(d)
          _this.list = d.data
      })
    }
  })
</script>
